.inner {
    max-width: 1200px;
}

.home-template .inner {
    max-width: 1300px;
}

.site-header .nav li a {
    font-size: 110%;
    opacity: 1;
}

.site-header .nav li a:hover {
    opacity: 0.8;
}

.site-header {
    background-position: top;
}

.site-header-content {
    padding: 8vw 4vw;
}